.menu {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu h1 {
    color: #fff;
    margin: 0;
  }

  .menu a {
    color: #fff;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .menu a:hover {
    background-color: #777;
    transform: scale(1.1);
  }
  .project img {
    max-width: 90%; /* You can adjust this percentage to your liking */
    max-height: 400px; /* You can adjust the max height too */
    display: block;
    margin: 10px auto; /* Top/bottom margin of 10px and auto left/right for centering */
  }
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('JS.webp'); /* Replace 'background-photo.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .portfolio {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    animation: slideIn 2s forwards;
    opacity: 0;
  }

  .project {
    margin-bottom: 2em;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: slideIn 2s forwards;
    animation-delay: 0.5s;
  }

  /* Buttons styling */
  .project a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;;
  }

  .project a:hover {
    background-color: #555;
    transform: scale(1.1);
  }

  /* Animation */
  @keyframes slideIn {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

 /* dropdown */
  .filter {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .dropdown {
    width: 200px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
  }
  
  .dropdown:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown:focus {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  